<br>
<div class="container-fluid text-justify">
  <div class="row content">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <%= if I18n.locale == :de
            render partial: "pages/about_de"
          else
            render partial: "pages/about_en"
          end %>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
<br>
