<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/cowboy-hats-3265977_1920.jpg" alt="Hats">
      <div class="carousel-caption">
        <h3>Like a Cowboy</h3>
        <p>Master the element!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="assets/shoes-2060519_1920.jpg" alt="Shoes">
      <div class="carousel-caption">
        <h3>Like a Rainbow</h3>
        <p>Colors for everyone!</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="assets/vintage-1465346_1920.jpg" alt="Vintage">
      <div class="carousel-caption">
        <h3>Like a Boss</h3>
        <p>Exclusive collection!</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>

  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
